<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="c9hLWwvHfj7NIqz8uPWJ35vJt4bNkGVSHepY6c3e2dM" />
    <meta name="keywords" content="Illusion Audio, Illusion Audio Argentina, high-end, audiophile, speakers, car audio, mobile audio, amplifiers, amps, subwoofers, subs, components, coaxial, illusion">
    <title>Illusion Audio Argentina</title>

    <link rel="shortcut icon" href="/images/illusionlogo.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    <link href="/styles/site.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
  

</head>

<body class="home">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom animated slideDown">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="/"><img src="/images/illusionlogo.png" alt="Illusion audio logo"></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    {{# each navLinks}}
                    <li {{#ifeq ../section key}}class="active" {{else}}{{/ifeq}}>
                        <a href="{{ href }}">{{ label }}</a>
                    </li>
                    {{/each}}
   
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->

    


    <div id="body">

        

        <!--
				Flash messages allow you to display once-off status messages to users, e.g. form
				validation errors, success messages, etc
			-->
        {{#if messages}}
        <div id="flash-messages" class="container">
            {{#if messages.info}}
            <div class="alert alert-info">
                {{{flashMessages messages.info}}}
            </div>
            {{/if}}
            {{#if messages.success}}
            <div class="alert alert-success">
                {{{flashMessages messages.success}}}
            </div>
            {{/if}}
            {{#if messages.warning}}
            <div class="alert alert-warning">
                {{{flashMessages messages.warning}}}
            </div>
            {{/if}}
            {{#if messages.error}}
            <div class="alert alert-danger">
                {{{flashMessages messages.error}}}
            </div>
            {{/if}}
        </div>
        {{/if}}
        <!-- The content block should contain the body of your template's content-->
        {{{body}}}
    </div>

  


    <footer id="footer" class="top-space">
<div class="footer1">
            <div class="container">
                <div class="row">
   </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="#">Home</a> |
                                <a href="/lineaProd">Línea</a> |
                                <a href="/products">Productos</a> |
                                <a href="/blog">Instalaciones</a> |
                                <a href="/vendedores">Dealers</a> |
                                 <a href="/contact">Contacto</a>
                                
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                               <a href="https://wa.me/5493415087777?text=Te%20contacto%20desde%20illusionaudio.com.ar">Contactanos por WhatsApp <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>





    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="js/headroom.min.js"></script>
    <script src="js/jQuery.headroom.min.js"></script>
    <script src="js/template.js"></script>
</body>

</html>