<header id="head" class="secondary"></header>

<div class="container">
	<div class="row">
		<aside class="col-sm-4 sidebar sidebar-left">
			<div class="widget">
					<ul class="list-unstyled list-spaces">
					<li><a href="/blog">All</a><br></li>
						{{#each data.categories }}
						<li><a href="{{categoryUrl key}}">{{name}}</a><br></li>
					{{/each}}
				</ul>				
			</div>	
		</aside>
		<article class="col-sm-8 maincontent">
			<header class="page-header">
				<h1 class="page-title">Instalaciones</h1>
			</header>	
				<div>
				{{#each data.posts.results}}
				<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
					<h3><a href="{{postUrl slug}}">{{{title}}}</a></h3>
					<p>{{{categoryList categories prefix="En "}}}
					</p>
					{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
					<p>{{{content.brief}}}</p>
					{{#if content.extended}}<p><a href="{{postUrl slug}}">Ver más...</a></p>{{/if}}
				</div>
				{{/each}}
			</div>
		{{>pagination}}
		</article>
	</div>
	
</div>
