<header id="head" class="secondary"></header>

<div class="container">
    <div class="row">
            {{#if categorias}}
		            {{#each categorias}}
                        <div class="col-md-4" >
                            <div class="col-md-12" >
                                <div class="row">
                                    <h2 class="thin well">{{name}}</h2>
                                </div>
                                <div class="row text-center">
                                    {{#if heroImage}}
                                        <img src="{{cloudinaryUrl heroImage}}" class="img-responsive">
                                    {{/if}}
                                </div>    
                                <div class="row text-center">
                                    <h3 >{{subname}}</h3>
                                </div>
                                <div class="row text-center">
                                   {{{description}}}
                                </div>                                 
                                <div class="row hidden-md hidden-lg">
                                    <a class="btn btn-primary btn-large btn-width" href="{{categoriaUrl slug}}" >Ver Productos</a>
                                </div>
                            </div>    
                        </div>
				    {{/each}}
                {{/if}}
         
    </div>

    <div class="row">
            {{#if categorias}}
		            {{#each categorias}}
                        <div class="col-md-4" >
                            <div class="col-md-12" >
                                <div class="row visible-md visible-lg">
                                    <a class="btn btn-primary btn-large btn-width" href="{{categoriaUrl slug}}" >Ver Productos</a>
                                </div>
                            </div>
                        </div>
				    {{/each}}
                {{/if}}
         
    </div>

</div> 
